.container{
    padding: 0%;
    text-align: center;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    background-color: #460b52;
}
p{
    padding: 10px;
    color: #fff;
}
.mat-flat-button{
    background-color: #460b52;
    text-align: right;
}