
.box{
    background: #fff;
    margin: 40px 100px 100px 100px;
    
    height: 250px;  
    box-shadow: 10px 10px #cac7cafa; 
}

.mat-card-title{
    height: 30px;
    background-color:#460b52;
    padding: 10px;
    color: #fff;
    font-size: 300%;
    font-weight: 400;
}
.mat-card-content{
    height: 120px;
    
    color: black;
    font-size: 125%;
    font-weight: 400;
}
.mat-card-footer {
    height: 30px;
    margin: 2px;
    padding: 10px;
    background-color: #460b52;
    color: #fff;
    font-size: 150%;
    font-weight: 400;
}
.c3{
    margin-left: 450px;
}




.mat-raised-button{
    background-color: #460b52;
    color: #fff;
}
